[submodule "acquire_zarr/external/vcpkg"]
	path = acquire_zarr/external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "acquire_zarr/external/acquire-zarr-library"]
	path = acquire_zarr/external/acquire-zarr-library
	url = https://github.com/acquire-project/acquire-zarr.git
